/*Geral das páginas*/

html {
    margin: 0;
}

body {
    background: linear-gradient(#1a1a1a, #454545);
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
}

.box {
    border: 5px solid rgb(67, 8, 8);
    border-radius: 10px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
    background: linear-gradient(rgb(176, 14, 14), rgb(133, 6, 6));
    padding: 20px;
}

#logo {
    border: 5px solid rgb(123, 16, 16);
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    background-color: #1a1a1a;
    padding: 10px;
}

.titulos {
    border: 3px solid rgb(188, 146, 21);
    border-radius: 7px;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(239, 208, 71);
    padding: 10px;
    margin-right: 200px;
    margin-left: 200px;
    display: center;
    box-shadow: 5px 5px 5px rgb(90, 0, 0);
}

.menu-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 20px;
}

.menus a {
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    padding: 15px;
    border-radius: 7px;
    text-decoration: none; 
    color: black; 
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    transition: all 0.1s ease;
    cursor: pointer;
}

.menus a:active {
    animation: blink 0.2s ease 1; 
}

.menus a:hover{
    background-color: lightgray;
}

@keyframes blink {
    0%, 100% { background-color: white; }
    50% { background-color: black; color: white; }
}         

form {
    border: 3px solid rgb(204, 186, 24);
    border-radius: 7px;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 233, 137);
    padding: 30px;
    margin: 20px;
    margin-right: 150px;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(90, 0, 0);
}

#rodape {
    background-color: #1a1a1a;
    color: white; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px; 
    text-align: center; 
    padding: 10px;
    border-radius: 5px; 
    margin: 20px auto; 
    width: 80%;
    box-shadow: 5px 5px 5px rgb(0, 0, 0); 
}

/*Página index.html*/

.texto-filme {
    border: 3px solid rgb(204, 186, 24);
    border-radius: 7px;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 233, 137);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 90px;
    margin-left: 90px;
    box-shadow: 5px 5px 5px rgb(90, 0, 0);
}

.texto-sinopse {
    border: 3px solid rgb(120, 120, 120);
    border-radius: 7px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: rgb(224, 224, 224);
    padding: 15px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 5px 5px 5px rgb(90, 0, 0);
}

.container-filmes {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 20px 0; 
}

.container-filmes img {
    border: 3px solid rgb(121, 121, 121);
    border-radius: 10px;
    width: 130px;
    box-shadow: 5px 5px 5px rgb(90, 0, 0);
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(90, 0, 0);
}

table th, td {
    padding: 15px;
    border: 3px solid rgb(123, 16, 16);
    background-color: rgb(239, 208, 71);
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/*Página Login*/

#edit_form{
    text-align: center;
}

.edit_input{
    width: 300px;
    height: 30px;
    border: 2px solid rgb(188, 146, 21);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
}

#button_login{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#button_login:hover{
    background-color: lightgrey;
}   
